:root {
  /* Colors */
  --font-color: var(--dark-font-color);
  --background-color: var(--dark-background-color);
  --textarea-bg: var(--dark-textarea-bg);
  --textarea-bg-focus: var(--dark-textarea-bg-focus);
  --textarea-bg-hover: var(--dark-textarea-bg-hover);
  --iframe-bg: #ffffff;
  --iframe-color: #000;
  --modal-bg: #151515a7;
  /* Border */
  --border: 2px solid #555555 outset;
  /* Default size */
  --half-size: calc(var(--default-size) / 2);
  --default-size: 8px;
  --x2-size: calc(var(--default-size) * 2);
  /* Font styles */
  --font-family: "Monospace";
  /* Dark variables */
  --dark-font-color: #eeeeee;
  --dark-background-color: #191919;
  --dark-textarea-bg: #252525;
  --dark-textarea-bg-focus: #353535;
  --dark-textarea-bg-hover: #303030;
  /* Light variables */
  --light-font-color: #111111;
  --light-background-color: #eeeeee;
  --light-textarea-bg: #bbbbbb;
  --light-textarea-bg-focus: #ffffff;
  --light-textarea-bg-hover: #dddddd;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--font-color);
  font-family: var(--font-family);
}
*::-webkit-scrollbar {
  background-color: var(--background-color);
  width: var(--half-size);
  height: var(--half-size);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--textarea-bg-hover);
  border-radius: var(--half-size);
}
body {
  height: 100vh;
  background-color: var(--background-color);
  overflow: hidden;
  font-size: var(--x2-size);
  font-family: --font-family;
}
textarea,
input {
  resize: none;
  background-color: var(--textarea-bg);
  border: var(--border);
  width: 100%;
  height: 100%;
  padding: var(--x2-size);
  font-size: var(--x2-size);
}
textarea:focus,
input:focus {
  background-color: var(--textarea-bg-focus);
  border: inherit;
}
textarea:hover,
input:hover {
  background-color: var(--textarea-bg-hover);
}
input {
  font-weight: bold;
}
iframe {
  width: 100%;
  height: 100%;
  background-color: var(--iframe-bg);
  color: var(--iframe-color);
}
#app {
  display: grid;
  height: 95%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
}
#app div {
  position: inherit;
  z-index: 10;
}
#app div:focus-within {
  z-index: 15;
}
#app div:last-child {
  grid-column: 2;
  grid-row: 1/-1;
}
.container {
  position: inherit;
  z-index: inherit;
  width: 100%;
  height: 100%;
  margin: 1px;
}
#app div > textarea,
#app div > iframe {
  background-position: calc(100% - var(--x2-size)) calc(100% - var(--x2-size));
  background-repeat: no-repeat;
  background-size: var(--x2-size);
}
#html {
  background-image: url("icon/html.png");
}
#css {
  background-image: url("icon/css.png");
}
#js {
  background-image: url("icon/js.png");
}
#preview {
  background-image: url("icon/preview.png");
}
#navbar {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
}
#title {
  width: 50%;
  min-width: 100px;
}
#title > input {
  padding: var(--half-size) var(--x2-size) !important;
}
#menu-btn {
  width: 32px;
  height: 32px;
  background: url("icon/menu.png") no-repeat center center;
  transition-duration: 0.5s;
}
#menu-btn:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5rem var(--font-color));
}
#menu-btn.opened {
  background-image: url("icon/cross.png");
  position: relative;
  z-index: 25;
}
#menu-btn.opened:hover,
#menu-btn.opened:active {
  background-image: url("icon/cross-hover.png");
}
#modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -150%;
  left: 0;
  background-color: var(--modal-bg);
  z-index: 20;
  transition-duration: 0.25s;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#modal.opened {
  top: 0;
}
#modal .container {
  height: auto;
  display: inherit;
  justify-content: inherit;
  padding: var(--default-size);
  gap: var(--default-size);
  align-items: center;
  position: relative;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--light-background-color);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: var(--dark-textarea-bg);
}
input:focus + .slider {
  box-shadow: 0 0 1px var(--dark-background-color);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
input#size {
  width: 100px;
  text-align: center;
}
@media screen and (width<700px) {
  #app {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}
